@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <form action="~/Home/Save" method="post">
        <input type="text" name="EmpName" />
        <input type="submit" value="Insert" />
    </form>


</div>